@import './colors/fairy_forest.css';

/* margin: top right bottom left */
/* Spacing outside the element */

/* padding: top right bottom left */
/* Spacing inside the element */

window#waybar {
  font-family: 'CaskaydiaCove Nerd Font', monospace;
  font-size: 16px;
  font-weight: 400;
  background-color: @bg;
  color: @fg;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 0px;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button {
  font-family: 'Symbols Nerd Font Mono';
  font-weight: 400;
  font-size: 17px;
  color: @bg;
  min-width: 50px;
  border-radius: 7px;
  background: @gray07;
  padding: 0px 0px 0px 0px;
  margin: 7px 7px 7px 0px;
  border: 0px solid @red;
}

#workspaces button:hover {
  color: @bg;
  background-color: @gray07;
}

#workspaces button.focused,
#workspaces button.active {
  color: @bg;
  background: @red;
  border: 0px solid @red;
}

#custom-launcher,
#mpris,
#clock,
#battery,
#cpu,
#temperature,
#backlight,
#network,
#wireplumber,
#custom-microphone,
#memory,
#custom-dunst,
#custom-restartemacs,
#custom-powermenu {
  padding: 0px 20px;
  margin: 7px 0px 7px 0px;
  border-radius: 7px;
  color: @bg;
}

#custom-restartemacs {
	background-color: @green;
	font-family: Symbols Nerd Font Mono;
}

#window,
#custom-launcher {
  padding: 0px 20px 0px 20px;
  margin: 7px 0px 7px 20px;
  background-color: @green;
  font-family: Symbols Nerd Font Mono;
}

#cpu {
  background-color: @blue;
}

#temperature {
  background-color: @blue;
}

#memory {
  background-color: @cyan;
}

#custom-dunst {
  padding: 0px 15px 0px 15px;
  background-color: @fg;
  font-family: Symbols Nerd Font Mono;
}

#mpris {
  color: @bg;
  background-color: @red;
}

#wireplumber,
#custom-microphone {
  font-size: 18;
  padding: 0px 20px;
  color: @bg;
  background-color: @blue;
}

#network {
  padding: 0px 15px 0px 20px;
  background-color: @green;
}

#battery {
  background-color: @yellow;
}

#clock {
  background-color: @red;
}

#custom-powermenu {
  padding: 0px 20px 0px 20px;
  margin: 7px 20px 7px 0px;
  background-color: @green;
  font-family: Symbols Nerd Font Mono;
}

@keyframes blink {
  to {
    background-color: rgba(27, 27, 27, 0.5);
    color: @string;
  }
}

#battery.critical:not(.charging) {
  color: @error;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}
